.qbGameObject{position:absolute;left:0px;top:0px;border:0px;margin:0px;padding:0px;display:none;
              user-select:none;-o-user-select:none;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;}
.qbBackground{background-color:#000;opacity:0.5;z-index:61;position:fixed;}
.qbMessageScreen {cursor:pointer;width:400px;padding:5px;z-index:92;text-align:center;background-color:#bcd;}

.qbContainer{width:640px;height:340px;}
.qbStatistics{width:640px;}
.qbShooterArea{width:800px;height:580px;background-color:#bb0;z-index:40;overflow:hidden;}
.qbEnemy{z-index:31;cursor:crosshair;}
/*.qbEnemy:hover{background-color:#f00;}*/
.qbEnemy.enemy1{background-image: url('szymon/img1.png');height:145px;width:200px;}
.qbEnemy.enemy2{background-image: url('szymon/img2.png');height:80px;width:80px;}
.qbEnemy.enemy3{background-image: url('szymon/img3.png');height:155px;width:140px;}
.qbEnemy.enemy4{background-image: url('szymon/img4.png');height:140px;width:180px;}
.qbEnemy.enemy5{background-image: url('szymon/img5.png');height:157px;width:200px;}
.qbEnemy.enemy6{background-image: url('szymon/img6.png');height:224px;width:224px;}
.qbEnemy.enemy7{background-image: url('szymon/img7.png');height:146px;width:139px;}

.qbStatistics{font-weight:bold;z-index:63;padding:4px;text-align:center;}
.qbStatField{float:left;position:relative;height:32px;line-height:32px;width:128px;}
.qbStatField>div{display:inline-block;position:relative;height:32px;line-height:32px;text-align:center;}
.qbStatField .desc{margin-right:6px;}
